<div class="py-3 bg-danger text-white text-center">
    <h2>Cadastro de Cliente</h2>
</div>
<form>
    <div class="container mt-4 min-vh-100">

        <label>Nome:</label>
        <input class= "form-control" type="text" id="nome"  placeholder="Informe seu nome completo" pattern="[A-z\s]{6,100}"required><br>
        <label>Email:</label>
        <input class= "form-control" type="email" id="email" required placeholder="Informe seu email"><br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Senha:</label>
                <input class= "form-control"type="password" id="senha" placeholder="Digite uma senha" pattern="[A-0-9z]{6,8}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label>Confirmação de senha:</label>
                <input class= "form-control" type="password" id="confirmasenha" placeholder="Redigite a senha" pattern="[0-9A-z]{6,8}" required>
            </div>
        </div>
        <label>CPF:</label>
        <input class= "form-control" type="text" id="documento" pattern="[0-9]{9,11}" required placeholder="Ex: xxx.xxx.xxx-xx"><br>
        <label>Telefone:</label>
        <input class= "form-control" type="text" id="telefone"pattern="[0-9]{4,5}[0-9]{4}" required placeholder="Ex: (xx)9xxxx-xxxx"><br><br>

        <button type="submit" class="btn btn-primary mx-auto  " >Cadastrar</button>
    </div>
</form>