<div class="row mt-4 min-vh-100 d-flex align-items-center">

    <div class="col-md-6 border-end ">
        <div class="text-center">
            <h1>Já tenho cadastro</h1>
        </div>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
            </div>
            <div class="text-center ">
            <button type="submit" class="btn btn-primary">Entrar</button>
            <button type="submit" class="btn btn-danger m-2">Esqueci minha senha</button>
            </div>
        </form>
    </div>


    <div class="col-md-6 ">
        <div class="text-center">
            <h1>Ainda não tenho cadastro</h1>
        <p><a href="./cadastro" class="btn btn-outline-success">Clique aqui</a></p>
        </div>
    </div>
</div>


