<div class="container-fluid p-3 border bg-dark text-white" id="cabecalho">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://mpgames.ir/assets/img/intro.png"
            alt="MP Games Logo" class="img-fluid rounded" style="height: 70px; object-fit: contain;">
        </a>
  
          <form class="d-flex input-group mx-auto" role="search" style="max-width: 500px; width: 100%;">
            <input class="form-control me-1" type="search" placeholder="Buscar produtos..." [(ngModel)]="termoBusca" aria-label="Search" [ngModelOptions]="{standalone: true}">
            <button type="button" class=" btn btn-light" (click)="buscar()">🔍</button>
          </form>

        <a *ngIf="clienteLogado?.logado === true && clienteLogado; else loginLink" class="btn btn-outline-light" (click)="logout()">Olá, {{clienteLogado.nome}} (Sair)</a>

        <ng-template #loginLink>
          <a href="login" class="btn btn-outline-light">Login / Cadastro</a>
        </ng-template>
      </div>
    </nav>
    <nav>
      <ul class="nav nav-tabs nav-justified mt-2">
        <li class="nav-item">
          <a class="nav-link text-white" href="vitrine">Pagina Inicial</a>
        </li>
        <li class = "nav-item">
          <a class="nav-link text-white" href="cesta">Carrinho 🛒</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<div class="container-fluid text-dark border" id="corpo">
  <section>
    <router-outlet/>
  </section>
</div>
<div class="container-fluid p-5 border bg-dark text-white" id="rodape">
  <footer>
      <h4 class="text-center text-primary text-white">Fatec Ipiranga</h4>
  </footer>
</div>