<h3 class="text-center text-white bg-danger py-3">PRODUTOS NOVOS E OFERTAS</h3>

<div class="alert alert-info" *ngIf="mensagem.length>0">{{mensagem}}</div>

<div class="row justify-content-center min-vh-100" >
  <div class="col-12 col-sm-6 col-md-4" *ngFor="let obj of produtos">
    <figure class="text-center">
      <a href="#" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + obj.codigo">
        <img src="produto{{obj.codigo}}.png" class="img-fluid rounded" style="height: 300px; object-fit: contain;" alt="Card Image">
      </a>
      <figcaption><h4 class="card-title">{{obj.nome}}</h4></figcaption>
      <p class="card-text text-danger">R${{obj.valorUnitario}},00</p>
      <button class="btn btn-danger" (click)="comprar(obj);">Adicionar ao carrinho</button>
    </figure>

    <!-- Modal DENTRO do ngFor -->
    <div class="modal fade" [id]="'modal' + obj.codigo">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center text-dark">Detalhes de {{obj.nome}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="alert alert-info" *ngIf="mensagem.length>0">{{mensagem}}</div>
          <!-- Modal body -->
          <div class="modal-body text-center">
            <img class="img-fluid text-center" src="produto{{obj.codigo}}.png" alt="Modal Body"><br>
          </div>

          <div class="modal-body">
            <p>{{obj.descritivo}}</p>
            <h1 class="text-dark">R${{obj.valorUnitario}},00</h1>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            <button class="btn btn-primary" (click)="comprar(obj)">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


